ul {
    text-align: center;
}

li {
    display: inline-block;
    padding: 0 30px;
}

a {
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    color: #FF0000;
}

h2 {
    font-family: Montserrat;
    text-align: center;
    text-align: center;
    text-transform: uppercase;
}
p {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-size: 12pt;
    color: #373737;
}

.but {
    background: #FF0000;
    color: white;
    font-size: 9pt;
    padding: 10px 30px;
}